<div class="container">
  <% posts.each do |post| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            <% if post.user %>
              by <%= link_to post.user.name, users_path(post.user) %>
            <% end %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= link_to post.title, posts_path(post), class: "text-success" %></h5>
            <p class="card-text"><%= truncate(post.description, length: 100) %></p>
            <%= link_to "View", post, class: "btn btn-outline-success" %>
            <% if logged_in? && post.user == current_user %>
              <%= link_to "Edit", edit_post_path(post), class: "btn btn-outline-info" %>
              <%= link_to "Delete", post_path(post), class: "btn btn-outline-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
            <% end %>
          </div>
          <div class="card-footer text-muted">
            <small>Created <%= time_ago_in_words(post.created_at) %> ago, 
            edited <%= time_ago_in_words(post.updated_at) %> ago</small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>