<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "THE CLUB HOUSE", users_path, class: "navbar-brand", id: "logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Posts", posts_path, class: "nav-link" %>
      </li> 
      
      <% if logged_in? %>
        <a class="nav-link " href="#">
          Profile [<%= current_user.name %>]
        </a>
        <li class="nav-item">
          <%= link_to 'Create new Post', new_post_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Log Out', logout_path, class: "nav-link", method: :delete %>
        </li>
      <% else %>
        <li class="nav-item">
        <%= link_to "Sign Up", signup_path, class: "nav-link" %>
        </li> 
        <li class="nav-item">
          <%= link_to "Log In", login_path, class: "nav-link" %>
        </li> 
      <% end %>
    </ul>
  </div>
</nav>